.navbar .navbar-brand {
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.navbar-brand span {
    color: rgb(146, 127, 127);
}

.navbar-nav {
    margin: 0px auto;

}

.navbar-nav li {
    margin-right: 50px;
    font-size: 18px;

}

.n button {
    width: 105px;
    border-radius: 30px;
}

.n a {
    font-size: 22px;
}

.n a:hover {
    background-color: rgb(40, 168, 168);
    border-radius: 30px;
}

#first {
    color: #fff;
    background-size: cover;
    margin-top: 0px;
    text-align: center;
    height: 580px;
    background-size: cover;
}



.tex h1 {
    margin-bottom: 150px;
    border-bottom: 3px solid white;

    width: 250px;
    margin: auto;
    font-weight: bold;
    font-size: 43px;
   font-family: sans-serif;
}

.tex p {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
}

.img1 img {
    margin-left: 100px;
}

.tex button {
    border: 1px solid red;
    border-radius: 93px;
    padding: 10px 15px;
    font-size: 20px;
    width: 160px;
    background: none;
    margin-top: 20px;
}

.row {
    display: flex;
}

#second {
    background-color: #222828;
    color: white;
}

.text1 h1 {
    font-weight: bold;
    font-family: sans-serif;
    font-style: initial;
    color: #FF5363;
}

.text1 p {
    font-size: 17px;
    font-family: cursive;

}

.im1 img {
    width: 350px;
    height: 450px;
    border-radius: 30px;
}

.text2 {
    text-align: center;
}

.text2 h1 {
    color: red;
    margin-bottom: 15px;
    font-size: 45px;
    font-family: fantasy;
}

.text2 p {
    color: #aac;
    font-size: 18px;
}

.navbar-brand :hover {
    color: red;
}

.im1 {
    text-align: center;
}

.im1 h4 {
    margin-top: 22px;
    font-family: sans-serif;
    font-weight: 800;
    color: rgb(20, 17, 44);
}

.im1 h6 {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #167926;
    margin-top: 35px;
}
.li1{
    margin-left: 100px;
     border: none;
}
.li2{
    margin-left: -150px; 
    border: none;
}
.li3{
    margin-left: -250px;
     border: none;
}
.nav-item1 {
    margin: 0px auto;

}

.nav-item1 a {
    color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    text-align: center;
    margin-top: 13px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item1 a:hover {
    color: #fff;

    border-radius: 30px;
}
.four1{
    margin-left: 90px;
    
}
.four1 h6 {
    color: #167926;
    font-size: 22px;
}

.four1 h4 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.four1 h4:hover {
    color: #167926;
}

.four1 p {
    color: rgb(151, 126, 126);
    font-size: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

i {
    font-size: 40px;

}
#first i:hover{
    font-size: 22px;
}
.ico{
    margin-top: 220px;
    
}
.tex{
    margin-top: 200px;
}
.nav2{
    margin-top: 0px;
    width: 1000px;
}
#fourth h1{
    font-size: 50px;
}
#five{
    background-size: cover;
    height: 800px;
    background-attachment: fixed;
}
#five button{
    
    background: none;
    width: 250px;
    border-radius: 30px;
    font-size: 30px;
}
#five button:hover{
    background-color: rgb(148, 20, 20);
}
#five a{
    text-decoration: none;
    color: #eee;
    padding: 5px 10px;
}
#five h1{
    color: rgb(240, 243, 83);
    margin-left: 120px;
    margin-bottom: 100px;
}
.sim img{
    margin-left: 100px;
    border-radius: 30px;
}
.sim img:hover {
    width: 260px;
}
#six h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#seven{
    text-align: center;
}
#seven{
    background-color: rgb(20, 17, 44);
    color: white;
}
#seven h5{
    color: #eb699e;
}
.box{
    box-shadow: #ccc 0px 0px 10px 0px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
    padding: 60px 0;
   margin-top: 80px;
   
}
.box h4{
    font-family: sans-serif;
}
.bo1 i{
    color: orange;
}
.bo2 i{
    color: blueviolet;
}
.bo3 i{
    color: pink;
}
#seven button{
    width: 180px;
    font-size:22px;
    border: 2px solid #eb699e;
  
    text-align: center;
    padding: 12px 0px;
    margin: auto;
    background: rgb(20, 17, 44);
    margin-bottom: 50px;
    margin-top: 50px;
    transition: all 1s;
    color: white;
}
#seven button:hover{
    background:#000 ;
}
#eight h1{
    font-weight: bold;
    font-family:monospace;
    font-size: 45px;
    
}
.in5{
  background-color: #efb68d;
  transition: all 1s;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.in5:hover{
    background-color: black;
}
.input{
    padding: 40px 30px;
    background: #eb699e;
    width: 70%;
    margin-top: 40px;
}
.input input{
    margin-bottom: 20px;
    border-radius: 30px;
    background: none;
    width: 250px;
   height: 50px;
   border: 1px solid #fff;
}
#nine{
    background-color: #232323;
    color: #fff;
}
#nine h1{
    color: #fff;
    font-size: 45px;
    line-height: 66px;
    font-weight: bold
}
#nine .text p{
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    
    font-weight: 501;
}
.bottom_form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
}
.bottom_form input {
    border: inherit;
    padding: 0px 19px;
    width: 70%;
    height: 49px;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    margin-left: 220px;
}
.bottom_form button {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #efb68d;
    color: #fff;
    padding: 5px 0px;
    max-width: 192px;
    width: 100%;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 35px;
    border: #fff solid 4px;
    margin-left: -200px;
}
.bottom_form button:hover{
    background-color: #eb699e;
    transition: ease-in all 0.5s;
    color: #fff;
}
#nine h3{
    font-size: 45px;
}
hr{
    color: #fff;
    width: 200px;
}
.copy{
    border-top: 1px solid #fff;
    width: 100%;
    
}
.copy a{
    text-decoration: none;
    color: #fff;
}
.copy a:hover{
    color: #eb699e;
}
.copy p{
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin-top: 30px;
}
@media (max-width :450px) {
    .navbar-nav li {
        margin-right: 0px;
       
    }
    #first{
        background-position: 63% ;
    }
    .img1 img {
        margin-left: 0px;
    }

    .im1 img {
        width: 90%;
        margin: 10px;
        height: 350px;
    }
    .n a:hover {
        background-color: rgb(40, 168, 168);
        border-radius: 15px;
    }
    .text2 h1 {

        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    i {
        font-size: 30px;
       margin-right: 15px;
        
    }
    .ico{
        margin-top: 50px;
        display: flex;
         margin-left: 90px;
    }
    .tex{
        margin-top: 20px;
    }
    .li1{
        margin-left: 0px;
         border: none;
    }
    .li2{
        margin-left: 0px; 
        border: none;
    }
    .li3{
        margin-left: 0px;
         border: none;
    }
    .nav2{
       
        width: 100%;
    }
    .four1{
        margin-left: 20px;
        
    }
    #fourth h1{
        font-size: 40px;
    }
    #five h1{
        color: rgb(83, 243, 243);
        margin-left: 12px;
        margin-bottom: 100px;
        font-size: 35px;
    }
    #five{
        background-position: 65% ;
    }
    .sim img{
        margin-left: 20px;
        margin-bottom: 10px;
        border-radius: 30px;
    }
    .input{
        
        
        width: 100%;
        
    }
    #nine h3{
        font-size: 35px;
    }
    #nine h1{
        font-size: 27px;
    }
    .bottom_form input{
        margin-left: 0px;
        width: 100%;
    }
    .bottom_form button{
        width: 50%;
        margin-left: -170px;
    }
}